[webservers]

%{~ for i in webservers ~}

${i["name"]}   ansible_host=${i["network_interface"][0]["nat_ip_address"]} fqdn=${i.id}.auto.internal
%{~ endfor ~}

[dbservers]

%{~ for i in dbservers ~}

${i["name"]}   ansible_host=${i["network_interface"][0]["nat_ip_address"]} fqdn=${i.id}.auto.internal
%{~ endfor ~}

[storage]

%{~ for i in storages ~}

${i["name"]}   ansible_host=${i["network_interface"][0]["nat_ip_address"]} fqdn=${i.id}.auto.internal
%{~ endfor ~}
